<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Schedule | CS160 - Fall 2016</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="CS160 | User Interface Design">
    <meta property="og:description" content="Introduction to Human Computer Interaction at UC Berkeley.">

    <link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/stylesheets/application.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-83159314-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-controller="ScheduleController as controller">
    <nav class="scroll-nav">
      <div class="container">
        <h1 class="scroll-nav-title">CS160</h1>
        <ul class="scroll-nav-links">
          <li><a href="/">Home</a></li>
          <li><a class="scroll-nav-active" href="schedule.html">Schedule</a></li>
          <li><a href="syllabus.html">Syllabus</a></li>
          <li><a href="grading.html">Grading</a></li>
        </ul>
        <ul class="scroll-nav-links scroll-nav-right">
          <li><a href="https://piazza.com/class/is6uhk404r3389">Piazza</a></li>
          <li><a href="https://bcourses.berkeley.edu/courses/1454557">bCourses</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-12">
        <h1 class="class-title">
          <span class="class-num">CS160</span>
          <span class="class-name">User Interface Design</span>
          <span class="class-semester">Fall 2016</span>
        </h1>
        <nav class="main-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a class="nav-active" href="schedule.html">Schedule</a></li>
            <li><a href="syllabus.html">Syllabus</a></li>
            <li><a href="grading.html">Grading</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="col-md-9 col-sm-9 schedule-col">
        <a class="week-anchor-link" href="#week12" onclick="ga('send','event','Link','click','Jump to current week');">Jump to current week</a>

        <!-- Loop through the weeks -->
        <div class="week-container" ng-repeat="week in controller.schedule track by $index"
             ng-class="{ 'active-week': week.isCurrent }">
          <a class="anchor" id="week{{$index + 1}}"></a>
          <h2 class="syllabus-week-label">
            <span class="week" ng-bind="'Week ' + ($index + 1)"></span>
            <span class="day" ng-bind="week.lectureDay"></span>
            <span ng-if="week.required" class="required-label">REQUIRED</span>
          </h2>
          <div class="lec-container">
            <div class="lec-details">
              <h3 class="lec-title" ng-repeat="topic in week.topics track by $index">
                <span class="topic-num" ng-bind="$index + 1"></span>
                <span ng-bind="topic.name"></span>
                <a ng-if="topic.slides" ng-href="{{topic.slides}}" target="_blank"> (slides)</a>
                <a ng-if="topic.video" ng-href="{{topic.video}}" target="_blank"> (webcast)</a>
              </h3>
              <div class="lec-material" ng-repeat="material in week.material">
                <h4 ng-bind="material.title"></h4>
                <ul>
                  <li ng-repeat="item in material.items">
                    <a ng-href="{{item.url}}" target="_blank" ng-bind="item.title"></a>
                    <span ng-bind-html="item.html"></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <h3 class="subsection-title"><a href="https://www.youtube.com/user/Vygotcha/videos?sort=dd&view=0&shelf_id=0">Lecture Webcasts</a></h3>
        <h3 class="subsection-title">Section Slides</h3>
        <ul>
          <li><a onclick="ga('send','event','Outbound Link','click','Angira Slides');" href="https://drive.google.com/open?id=0B7qiT-cxa1ayckVuVTRVYWh2LTQ">Angira</a></li>
          <li><a onclick="ga('send','event','Outbound Link','click','Eric Slides');" href="https://drive.google.com/open?id=0B7qiT-cxa1ayTGZnWDFPck5YeWs">Eric</a></li>
          <li><a onclick="ga('send','event','Outbound Link','click','Jasper Slides');" href="https://drive.google.com/open?id=0B7qiT-cxa1ayQ0czZFpaeHBZdlE">Jasper</a></li>
          <li><a onclick="ga('send','event','Outbound Link','click','Sreesha Slides');" href="https://drive.google.com/open?id=0B7qiT-cxa1ayUlhVdVZhRzFlUTg">Sreesha</a></li>
        </ul>
        <h3 class="subsection-title">KinomaJS Resources</h3>
        <ul>
          <li><a target="_blank" href="http://www.2ality.com/2013/06/basic-javascript.html">Intro to Javascript</a></li>
          <li><a target="_blank" href="http://kinoma.com/develop/documentation/kinomajs-tutorials/">Kinoma Tutorials</a></li>
          <li><a target="_blank" href="http://kinoma.com/develop/samples/">Kinoma Sample Code</a></li>
          <li><a target="_blank" href="http://kinoma.com/develop/documentation/">Kinoma Documentation</a></li>
          <li><a target="_blank" href="http://forum.kinoma.com/categories/uc-berkeley-cs160">Kinoma CS160 Forum</a></li>
        </ul>
      </div>
    </div>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-sanitize.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
