/* Reset all default browser CSS */
@import 'partials/reset';

/* Import variables and mixins */
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/grid';
@import 'partials/layouts';


/* Import design components */
@import 'components/navigation';
@import 'components/fonts';
@import 'components/alert';

/* Import page styles */
@import 'pages/splash';
@import 'pages/grading';
@import 'pages/schedule';
