/*style.css*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("font-awesome.min.css");

/* Styles specific to the home page: */
#home .columns {margin-top: 10px;}
#home .leftColumn {width: 400px;}
#home .description {margin-top: 0; line-height: 1.3;}
#home .leftColumn, #home .rightColumn {vertical-align: top;}
#home .leftColumn {padding-right: 10px;}
#home .rightColumn {border-left: 1px dotted #a5001d; padding-left: 10px;}
#home .basicInfo .name {font-weight: bold; padding-right: 10px;}
#home .basicInfo td {vertical-align: top; white-space: nowrap;}
#home .rightColumn .small {margin-top: 2px;}
.announcements .announceDate {font-weight: bold;}
.announcements .announceMessage {margin-bottom: 10px;}
#home .project {margin-bottom: 5px;}
#home ul.links {list-style-type: none; padding-left: 0;}
#home ul.links li {margin-bottom: 6px;}




h1, a{
	color: #468646;
}

.navbar-toggle{
	background: #468646 !important;
	color: white !important;
}
/* BANNER */
	#banner-wrapper{
		background-image: url("../../images/banner_slice.jpg");
		background-repeat: repeat;
	}
	#banner-wrapper div{
		overflow: none;
	}
	#banner-wrapper div img{
		width: 100%;
	}

.shadow{
		-webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.38);
		-moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.38);
		box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.38);

	}

body{

	/*background-image: url("../../images/handmadepaper.png");*/
}

.light{
	background: white;
}

.content{
	height: 100%;
}
	th{
		/*font-family: "Helvetica", "Arial", sans-serif;*/
		font-weight: "bold";
		text-align: left;
	}

/* SYLLABUS */
	h5 {
	    background-color: #4d5a31;
	    color: #ffffff;
	    font-family: 'Roboto';
	    font-size: 18px;
	    font-style: normal;
	    font-weight: 300;
	    letter-spacing: 11px;
	    line-height: 0.8;
	    margin-bottom: 10px;
	    margin-right: 96px;
	    padding-top: 8px;
	    padding-bottom: 8px;
	    padding-right: 13px;
	}
	h6 {
	    color: #648c1c;
	    font-family: 'Roboto';
	    font-style: normal;
	    font-weight: 500;
	    text-transform: none;
	}
	address {
	    color: #000000!important;
	    font-family: 'Roboto'!important;
	    font-style: normal!important;
	    font-weight: 300!important;
	    line-height: 1.5!important;
	    margin-left: 40px!important;
	    text-decoration: none!important;
	}

/* POPOVER */
.popover-content img{
	width: 100%;
}