$blue                             : #1976B9;
$blue-80                          : rgba($blue, 0.80);
$blue-60                          : rgba($blue, 0.60);
$blue-50                          : rgba($blue, 0.50);
$blue-40                          : rgba($blue, 0.40);
$blue-20                          : rgba($blue, 0.20);

$black                            : #3C4858;
$black-80                         : rgba($black, 0.80);
$black-60                         : rgba($black, 0.60);
$black-40                         : rgba($black, 0.40);
$black-20                         : rgba($black, 0.20);

$slate                            : #8492A6;
$slate-80                         : rgba($slate, 0.80);
$slate-60                         : rgba($slate, 0.60);
$slate-40                         : rgba($slate, 0.40);
$slate-20                         : rgba($slate, 0.20);

$smoke                            : #E0E6ED;
$smoke-80                         : rgba($smoke, 0.80);
$smoke-60                         : rgba($smoke, 0.60);
$smoke-40                         : rgba($smoke, 0.40);
$smoke-20                         : rgba($smoke, 0.20);

$snow                             : #F9FAFC;
$snow-80                          : rgba($snow, 0.80);
$snow-60                          : rgba($snow, 0.60);
$snow-40                          : rgba($snow, 0.40);
$snow-20                          : rgba($snow, 0.20);


$font-stack                       : 'Lato', 'Helvetica', sans-serif;
