body {

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 30px;
    line-height: 30px;
}

.site-info {
    font-weight: 100;
    text-align: right;
    font-size: 18px;
    padding: 2em;
    float: right;
}

.nav {
    padding-bottom: 1em;
}

.nav a {
    font-size: 16px;
}

.wrap {
    max-width: 100%;
    padding: 2em;
}

.masthead,
.container {
    max-width: 800px;
    margin: auto;
}

#staff {
    width: 100%;
}

#staff a {
    color: grey;
}

#staff a:hover {
    color: #ff4081;
}
