html {
    background: url(/assets/images/campanile.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: monospace;
    padding: 0em 1em;
    margin: 1em;
}
footer {
    position: fixed;
    bottom: 20;
    right: 20;
}
a {
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
h1 a:hover,
h3 a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
p {
    border-left: rgb(255, 64, 129) solid 1em;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 0.5em;
    max-width: 100%;
    width: 600px;
}
h1 {
    font-size: 3em;
}
img {
    max-width: 100%;
    width: 600px;
}

/* Project styles */

.project {
    margin-bottom: 2em;
    margin-right: 2em;
    max-width: 90vw;
    width: 325px;
}
.project-name {
    background-color: rgba(255, 255, 255, 0.5);
    border-left: rgb(0, 0, 0) solid 1em;
    padding: 0.25em 0.5em;
    font-size: 15pt;
    font-weight: bold;
    display: block;
}
.project-link {
    color: black;
}
.project-image {
    background-color: rgba(0, 0, 0, 0.4);
    max-width: calc(100% - 2em);
    display: block;
    padding: 1em;
    margin: auto;
}
.project-desc {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 1em;
}
.project:hover .project-name {
    border-left: rgb(255, 64, 129) solid 1em;
    color: black;
}
.project:hover .project-desc {
    background-color: rgba(0, 0, 0, 0.4);
}
.event-timeline {
    overflow: auto;
}
.event-details {
    float: right;
}
.showcase-details * {
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
}

/* RESPONSIVE DESIGN **********
 * so, houston, we have liftoff
 * to the skys we soar *******/

@media screen and (max-width : 600px) {
    p,
    img,
    .project {
        width: 100%;
    }
    h1 {
        font-size: 3.5em;
    }
    h3,
    .project-name {
        font-size: 2em;
    }
    p,
    .project-desc {
        font-size: 1.25em;
    }
}
