$project-percent: 50%;
$midterm-percent: 20%;
$assignments-percent: 20%;
$participation-percent: 10%;

.breakdown-bar {
  border-radius: 2px;
  height: 10px;
  overflow: hidden;
  width: 100%;

  .breakdown-bar-item {
    float: left;
    height: 100%;
    opacity: 0.8;
  }

  .project-bar {
    background: #3498db;
    width: $project-percent;
  }

  .midterm-bar {
    background: #2ecc71;
    width: $midterm-percent;
  }

  .participation-bar {
    background: #e74c3c;
    width: $participation-percent;
  }

  .assignments-bar {
    background: #f39c12;
    width: $assignments-percent;
  }
}

.breakdown-labels {
  overflow: hidden;

  .breakdown-bar-label {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .project-label {
    color: #3498db;
    width: $project-percent;
  }

  .midterm-label {
    color: #2ecc71;
    width: $midterm-percent;
  }

  .participation-label {
    color: #e74c3c;
    width: $participation-percent;
  }

  .assignments-label {
    color: #f39c12;
    width: $assignments-percent;
  }
}
