.schedule-col {
  padding-right: 50px;
}

.syllabus-week-label {
  font-size: 22px;
  margin-bottom: 18px;
  position: relative;
  .week {
    background: $snow;
    float: left;
    font-weight: 900;
  }

  .day {
    background: $snow;
    color: $slate;
    font-weight: 400;
    padding: 0 15px;
    text-transform: none;
  }

  &:after {
    background: $slate-40;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: -1;
    @include transform(translateY(-50%));
  }
}

.week-container {
  margin-bottom: 45px;
}

.active-week {
  .week {
    color: $blue;
  }
}

.lec-container {
  margin-bottom: 18px;
  overflow: hidden;
}

.lec-details {
  padding-left: 35px;
}

.topic-num {
  color: $slate-60;
  font-size: 15px;
  font-weight: 900;
  margin-right: 5px;
}

.lec-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.lec-material {
  margin-bottom: 24px;

  &:first-of-type {
    padding-left: 0;
  }

  h4 {
    color: $slate;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: square;
    padding-left: 20px;
  }
}

.due-date {
  color: #e74c3c;
  margin-left: 10px;
}

.week-anchor-link {
  display: inline-block;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .schedule-col {
    padding-right: 15px;
  }

  .syllabus-week-label {
    font-size: 19px;
    margin-bottom: 10px;
  }

  .lec-num {
    width: auto;
  }
}
