.main-nav {
  margin: 15px 0 60px;
  padding: 10px 0;
  width: 100%;

  li {
    display: inline-block;
    font-size: 24px;
  }

  a {
    color: $slate-60;
    display: inline-block;
    font-weight: 400;
    padding: 0 6px;
    transition: 100ms;

    &:hover {
      color: $black-80;
      text-decoration: none;
    }
  }

  li:first-of-type a {
    padding-left: 0;
  }

  .nav-active {
    color: $black;
    font-weight: 600;
    position: relative;

    &:after {
      background: $black-80;
      bottom: -8px;
      content: '';
      height: 4px;
      left: 50%;
      position: absolute;
      width: 40px;
      @include transform(translateX(-50%));
    }
  }
}

.scroll-nav {
  background: $snow;
  font-size: 18px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: 200ms;
  @include transform(translateY(-100%));

  .container {
    padding: 0 30px;
  }
}

.active {
  box-shadow: 0 0 15px $black-20;
  @include transform(translateY(0));
}

.scroll-nav-title {
  display: inline-block;
  font-weight: 800;
  margin-right: 15px;
}

.scroll-nav-right {
  float: right;
}

.scroll-nav-links {
  display: inline-block;

  li {
    display: inline-block;
  }

  a {
    color: $black-60;
    font-weight: 400;
    padding: 0 4px;
    transition: 100ms;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  .scroll-nav-active {
    color: $black;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .main-nav {
    margin-bottom: 30px;

    li {
      font-size: 18px;
    }
  }

  .nav-active:after {
    display: none;
  }
}
